body {
    background: #999 url(/static/img/noisy.png);
    color: #222;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.form-hidden {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    cursor: default;
}

    .form-hidden * {
        cursor: default;
    }

p {
    font-size: 18px;
}

h1 {
    margin-bottom: 0;
    font-size: 14px;
}

hr {
    border-color: #777;
}

.inset {
    text-shadow: 0 1px 2px #CCC;
}


.large {
    font-size: 40px;
    font-weight: bold;
}

.winner {
    margin-top: 0;
    font-size: 80px;
    font-weight: bold;
}

.title {
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
}

.alive-scan-info {
    margin-top: 50px;
}

.alive-count {
    margin-top: 50px;
    font-size: 16px;
    font-style: italic;
}

.killed-msg {
    margin-bottom: 40px;
}

.other-winners-notice {
    margin-top: 40px;
}

.winner-notice {
    margin-top: 50px;
}

.error-notice {
    margin-top: 30px;
}

.github-notice-wrapper {
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.github-notice {
    position: relative;
    right: 50%;
    margin: 0;
    color: #222;
    white-space: nowrap;
    font-size: 14px;
}

.version-notice {
    position: absolute;
    bottom: 20px;
    right: 30px;
    color: #222;
    font-size: 14px;
}

.manage-section-title {
    font-size: 24px;
    font-weight: bold;
}

.top-players {
    width: 400px;
    margin: 100px auto 20px;
}

.top-players h2 {
    font-weight: bold;
}

.top-players table {
    text-align: left;
}