<!DOCTYPE html>
<html>
<head>
    {% block title %}
    <title>Killergame ITG</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css"href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="wrapper">
        {% block content %}{% endblock %}
        <span class="github-notice-wrapper"><p class="github-notice">if (visitor.interest == 'programming') browser.open('http://git.io/DE6pxA')</p></span>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/countdown.js') }}"></script>
</body>
</html>